.accordion {
  max-width: 500px;
  margin-right:auto;
  margin-left:auto; 
}
.accordion-body {
  max-height: 50px;
  overflow: hidden;
  position: relative;
}
.open .accordion-body {
  max-height: 1000px;
}

.accordion-body:after {
  position: absolute;
  bottom: 0;  
  right: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable */
}