.accordion {
  max-width: 500px;
  margin-right:auto;
  margin-left:auto; 
  max-height: 150px;
  overflow: hidden;
  transition: .2s;

}
.accordion {
  position: relative;
}

.open.accordion:after {
  display:none;
}
.accordion:after {
  position: absolute;
  bottom: 0;  
  right: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 10%, 
     rgba(255,255,255, 0) 50%
  );
  pointer-events: none; /* so the text is still selectable */
}